/events.out.tfevents.1570326881.Kinsey-Ubuntu
/events.out.tfevents.1570326919.Kinsey-Ubuntu
/events.out.tfevents.1570327000.Kinsey-Ubuntu
/events.out.tfevents.1570327043.Kinsey-Ubuntu
/events.out.tfevents.1570327137.Kinsey-Ubuntu
